header{
    height:50px;
    align-items: center;
    display: flex;
    background-color: rgb(96, 166, 207);
}
header *{  
    display:inline; 
    }  
    header li {  
    margin: 20px;  
    }  
    header li a {  
    color: rgb(245, 245, 252);  
    text-decoration: none;  
    }  
    header ul{
        margin-left: 600px;
    }
    a:hover{
        background-color:chocolate;
    }